@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* ==============================
        Common CSS
================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


/* ==============================
        Hero Section Start
================================= */

.hero {
    background-image: url("/img/dd.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero h1 {
    color: black;
    font-size: 75px;
    text-align: center;
    font-weight: 900;
    padding-top: 50px;
    word-spacing: 10px;
    letter-spacing: 10px;
    font-family: cursive;
    white-space: nowrap;
}

/* Hero Section End */


/* ==============================
        Content Section Start
================================= */

.red {
    width: 80%;
    margin: 60px auto;
    background: linear-gradient(
        to right,
        rgb(0, 187, 255),
        rgb(255, 0, 187)
    );
    padding: 70px;
    border: 5px solid rgb(255, 0, 247);
}

.red h2 {
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid red;
    margin: auto;
    padding-bottom: 30px;
}

.red p {
    font-size: 24px;
    line-height: 2em;
}

.red p .imp {
    font-size: 1.5em;
    color: white;
}

/* Content Section End */


/* ==============================
        Cow Type Section Start
================================= */

#cow-type {
    width: 80%;
    margin: 60px auto 30px;
    background: linear-gradient(
        to right,
        rgb(0, 187, 255),
        rgb(255, 0, 187)
    );
    padding: 40px;
    border: 5px solid rgb(255, 0, 247);
}

#cow-type h2 {
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid red;
    padding-bottom: 30px;
}

/* Cow Type Section End */


/* ==============================
        Images Section Start
================================= */

.images {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
   
    align-items: center;
   
    
}

.images div {
    width: 300px;
}

.images img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Images Section End */